/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-Feb-2015, 3:50:13 PM
    Author     : Zachary de Boer
*/

div.body
{
   background-color: rgba(236,236,236,0.7);
   text-align: center;
   margin-left: 300px;
   margin-right: 300px;
}

h1.body
{
    color: rgb(19,19,19);
    font-size: 50px;
    padding-top: 30px;
}

h2.body
{
    padding-top: 15px;
    color: rgb(19,19,19);
    font-size: 35px;
}

h3.body
{
    color: rgb(19,19,19);
    font-size: 28px;
}